.page-header
  %h1
    =@user.name
    %small User Statistics

.panel-group#statistics-accordion
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#global-stats"} Global Statistics
    .panel-collapse.collapse.in#global-stats
      .panel-body
      - if @view_chart
        %h3 Views this month:
        = image_tag @view_chart if @view_chart
      - if !@impressions.empty?
        %h3 Users who have visited this profile:
        = render @impressions

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#image-stats"} Image Statistics
    .panel-collapse.collapse#image-stats
      .panel-body
        %p Etc

