.page-header
  %h1
    =@user.name
    %small User Statistics

.panel-group#statistics-accordion
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#global-stats"} Global Statistics
    .panel-collapse.collapse.in#global-stats
      .panel-body
      - if @visits_chart
        %h3 Visits this month:
        = image_tag @visits_chart
      - if @country_pie_chart
        %h3 Visits by country:
        = image_tag @country_pie_chart
      - if !@user.visitors.empty?
        %h3 Users who have visited this profile:
        = render @user.visitors

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#image-stats"} Image Statistics
    .panel-collapse.collapse#image-stats
      .panel-body
        %p Etc

