.page-header
  %h1
    =@user.name
    %small User Statistics

.panel-group#statistics-accordion
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#global-stats"} Global Statistics
    .panel-collapse.collapse.in#global-stats
      .panel-body
        %h3 Visits this month:
        #visits
          = render_chart @visits_chart, 'visits'
        %h3 Visits by country:
        #visits-by-country
          = render_chart @country_pie_chart, 'visits-by-country'
        %h3 Visits by age:
        #visits-by-age
          = render_chart @age_pie_chart, 'visits-by-age'
        %h3 Users who have visited this profile:
        = render @user.visitors

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:data => {:toggle => "collapse", :parent => "#statistics-accordion"}, :href => "#image-stats"} Image Statistics
    .panel-collapse.collapse#image-stats
      .panel-body
        %p Etc

