/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";

.home-imgs img {
  height: 200px;
  width: auto;
  max-width: 500px;
  padding: 20px;
}

.home-img {
  float: left;
  -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
  -moz-transform:scale(0.8); /*Mozilla scale version*/
  -o-transform:scale(0.8); /*Opera scale version*/
  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
  margin: 0 10px 5px 0; /*margin between images*/
}

.home-img img:hover{
  -webkit-transform:scale(1.5); /*Webkit: Scale up image to 1.2x original size*/
  -moz-transform:scale(1.5); /*Mozilla scale version*/
  -o-transform:scale(1.5); /*Opera scale version*/
  //box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
  //-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
  //-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
  //opacity: 1;
}

.comments {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px 0px;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
}

.timestamp {
  color: $gray-light;
}

#url-breadcrumb {
    border-radius: 0;
}

#global-form {
  display: none;
}

#progress-hull {
  display: none;
}

