/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";

.home-imgs img {
  height: 200px;
  width: auto;
  max-width: 500px;
  padding: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.home-img {
  float:left;
  text-align:justify;
  -webkit-transform:scale(0.9); 
  -moz-transform:scale(0.9); 
  -o-transform:scale(0.9); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s; 
  -o-transition-duration: 0.5s; 
  margin: 0 10px 5px 0; 
}

.home-img img:hover{
  -webkit-transform:scale(1.4); 
  -moz-transform:scale(1.4); 
  -o-transform:scale(1.4); 
}

.comments {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px 0px;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
}

.timestamp {
  color: $gray-light;
}

#url-breadcrumb {
    border-radius: 0;
}

#global-form {
  display: none;
}

#progress-hull {
  display: none;
}

