@import "bootstrap";

.tag_cloud {
  line-height: 1.6em;
  margin: 20px 0px;
  .small { font-size: 0.8em; }
  .med { font-size: 1.2em; }
  .large { font-size: 1.8em; }
}

.content {
  font-size: 20px;
  display: block;
}

.home-imgs {
  text-align: justify;
  .home-img {
    display: inline;
    margin: 0px 10px 5px 0px;
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
    img {
      display: inline;
      height: 180px;
      max-width: 500px;
      width: auto;
      padding: 10px;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
    }
    img:hover {
      -webkit-transform:scale(1.4);
      -moz-transform:scale(1.4);
      -o-transform:scale(1.4);
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.comments {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px 0px;
  li {
    padding: 10px 0px;
    border-top: 1px solid #e8e8e8;
  }
}

.timestamp {
  color: $gray-light;
}

.ratings img {
  display: inline-block;
}