.gravatar {
  margin: 0px auto 10px;
}

.user-header {
  font-weight: bold;
  text-align: center;
}

.profile-preference {
  font-size: 20px;
  font-weight: bold;
}

.profile-imgs {
  text-align: justify;
  a:hover {
    text-decoration: none;
  }
  img {
    display: inline;
    margin: 10px;
    height: 120px;
  }
}
