.row
  .col-md-9.home-imgs
    -@images.each do |image|
      .home-img
        =link_to image do
          =image_tag image.content.url :medium
  .col-md-3
    %div.tag_cloud
      - tag_cloud Image.tag_counts, %w[small med large] do |tag, css_class|
        = link_to tag.name, tag_path(tag.name), class: css_class

%center
  = will_paginate(@images)
  %p
    - tag_images_count(@images, params[:tag])
  %p Content Hits: #{@hits}
