= form_tag images_path, method: :get, role: 'search', class: 'navbar-form navbar-right' do
  .form-group
    = text_field_tag 'image_caption', nil, class: 'form-control', placeholder: 'Search'
  = button_tag 'Search', class: 'btn btn-default', name: nil
